.scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: orange;
    color: black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 5px 4px 25px 11px darkslategrey;
    z-index: 1;
  }