/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
  }
body {
    margin: 0px;
    font-family: monospace, 'Roboto';
    background-color: #000;
    color: #999;
    overflow-x: hidden; 
}

section {
    padding-bottom: 20px;
}

/** Flex **/
.d-flex {
    display: flex;

}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}
.text-center {
    text-align: center;
}

/** Spacing **/
.p-1 {
    padding: 1em;
}

.p-2 {
    padding: 2em;
}

.p-3 {
    padding: 3em;
}

.p-4 {
    padding: 4em;
}
.pt-4 {
    padding-top: 4em;
}
.pb-4 {
    padding-bottom: 4em;
}

.m-1 {
    margin: 1em;
}

.m-2 {
    margin: 2em;
}

.m-3 {
    margin: 3em;
}

.m-4 {
    margin: 4em;
}

.mt-1 {
    margin-top: 1em;
}
.center-text {
    margin: 0 auto;
    height: 80vh;
    line-height: 1.5;
    font-size: 1.5em;
    width: 50%;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .p-1-xs {
        padding: 1em;
    }
}


/** colors **/
.red {
    color: #FF0000;
}
.orange {
    color: orange
}
.white {
    color: #fff;
}

/** Form **/
.form {
    width: 100%;
    align-items: start;
}
form {
    margin: 0 auto;
}


.form button {
    background-color: orange;
    padding: 0.5em 0.8em;
    color: #000;
    border: 1px solid orange;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-size: 1em;
}

.form input {
    width: 100%;
    height: 48px;
    font-size: 22px;
    border-radius: 3px;
}

.form input:focus,
.form input:focus-visible,
.form textarea:focus,
.form textarea:focus-visible {
    border: 3px solid orange;
    outline: none;
}

.form textarea {
    width: 100%;
    border-radius: 3px;
}
/**close icon**/
.close-icon {
    position: absolute;
    float:right;
    right: 0;
}

