#container {
    color: #fff;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    padding: 20px 0;
    width: 100%;
    display: block;
    letter-spacing: 3px;
    background-image: linear-gradient(to bottom, #00193d, #0a142f, #0d0e23, #090717, #010006);
    color: #fff;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}

.title {
    color: #999;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}

.name-title {
    font-size: 42px;
    word-wrap: break-word;
}

#flip {
    height: 50px;
    overflow: hidden;
}

#flip>div>div {
    color: #fff;
    padding: 4px 12px;
    height: 45px;
    margin-bottom: 45px;
    display: inline-block;
    word-wrap: break-word;
}

#flip div:first-child {
    animation: show 5s linear infinite;
}

#flip div div {
    background: #42c58a;
    word-wrap: break-word;
}

#flip div:first-child div {
    background: #4ec7f3;
    word-wrap: break-word;
}

#flip div:last-child div {
    background: #DC143C;
    word-wrap: break-word;

}

@keyframes show {
    0% {
        margin-top: -270px;
    }

    5% {
        margin-top: -180px;
    }

    33% {
        margin-top: -180px;
    }

    38% {
        margin-top: -90px;
    }

    66% {
        margin-top: -90px;
    }

    71% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }
}

p {
    width: 100%;
    bottom: 30px;
    font-size: 12px;
    color: #999;
}

.typewriter h3 {
    color: #fff;
    display: initial;
    font-family: monospace;
    font-size: 30px;
    overflow: hidden;
    border-right: 1.5px solid orange;
    margin: 0 auto;
    letter-spacing: 5px;
    animation:
        blink-caret .5s step-end infinite;
}

@media only screen and (min-width: 920px) {
    .typewriter h3 {
        white-space: pre-line;
        animation:
            typing 3.5s steps(30, end),
            blink-caret .5s step-end infinite;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

.d-flex.content p {
    font-size: 30px;
    text-align: center;
    padding: 0 10px;;
}

@media only screen and (min-width: 720px) {
    .d-flex.content p {
        width: 85%;
    }
}

.social-buttons a:hover {
    background-color: orange;
    border-radius: 5px;
}

/***My projects***/
#my-projects article {
    gap: 15px;
    cursor: pointer;
    flex-direction: row;
}

@media only screen and (max-width: 700px) {
    #my-projects article {
        flex-direction: column;
    }
}

.projects-list{
        flex: 1;
        align-self: stretch;
        border: 3px solid;
        padding: 20px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
}
.projects-list p {
    font-size: 25px;
}